*::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0;
    padding: 0;
}

.ios ion-toolbar,
.md ion-toolbar {
    --border-width: 0;
}

:focus {
    outline: 0;
}

ion-header {
    ion-toolbar {
        box-shadow: 0 -5px 5px 5px gray;
        ion-grid {
            ion-row {
                ion-col {
                    --padding: 0;
                    height: 40px;
                    .fa-arrow-left {
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 23px;
                        margin-left: 5px;
                        line-height: 35px;
                        color: rgb(0, 132, 255);
                    }
                    ion-avatar {
                        margin-left: 5px;
                        height: 40px;
                        cursor: pointer;
                        text-align: center;
                        img {
                            width: 70%;
                            height: 35px;
                        }
                        &:focus {
                            outline: 0;
                        }
                    }
                    .info {
                        line-height: 36px;
                        padding-left: 10px;
                        b {
                            font-family: "Roboto", sans-serif;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

ion-content {
    .container {
        height: 400px;
        overflow: scroll;
    }
    ion-grid {
        ion-row {
            ion-col {
                padding: 0;
            }
            .message {
                // padding: 10px;
                border-radius: 10px;
                margin-bottom: 4px;
                white-space: pre-wrap;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
            .my-message {
                text-align: right;
                .friend {
                    background-color: blue;
                    color: white;
                    border-radius: 20px;
                    text-align: left;
                    padding: 5px 10px;
                    margin: 5px 0;
                    opacity: 0.7;
                }
                img {
                    width: 80%;
                    height: auto;
                    background-size: cover;
                }
            }
            .other-message {
                .user {
                    background-color: lightgrey;
                    border-radius: 20px;
                    text-align: left;
                    padding: 5px 10px;
                    margin: 5px 0;
                }
                img {
                    width: 80%;
                    height: auto;
                    background-size: cover;
                }
            }
            .time {
                color: #dfdfdf;
                float: right;
                font-size: small;
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        ion-row {
            ion-col {
                padding: 0;
                .message-input {
                    margin-top: 2px;
                    margin-left: 10px;
                    border: 1px solid var(--ion-color-medium);
                    background: #fff;
                    overflow: hidden;
                    height: 30px;
                    max-height: 30px;
                    --border-radius: 5px;
                    --padding-bottom: 5px;
                    --padding-top: 5px;
                    --padding-start: 10px;
                    --padding-end: 10px;
                    font-size: 16px;
                }
                .msg-btn-1 {
                    position: absolute;
                    margin-top: 5px;
                    color: blue;
                    font-size: 20px;
                    cursor: pointer;
                    input {
                        display: none;
                    }
                    .camera {
                        padding-left: 18px;
                    }
                }
                .msg-btn-2 {
                    margin-top: 5px;
                    color: blue;
                    font-size: 20px;
                    position: relative;
                    right: 7px;
                }
            }
        }
    }
}