%footer-text {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

%input {
    width: 100%;
    // padding-left: 50px !important;
    border: 3px solid rgba(211, 211, 211, 0.671);
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-size: 13px;
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    border-radius: 5px;
    margin: 5px 0;
    background-color: ghostwhite;
}

%button {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: inline-block;
    line-height: 18px;
    margin-top: 20px;
    border: 3px solid rgb(58, 85, 106);
}

///////////////////////////
ion-content {
    .container {
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 9999px;
        border-bottom-left-radius: 9999px;
        background-color: rgb(58, 85, 106);
        .background {
            position: relative;
            top: 11%;
            left: 8%;
            width: 253px;
            background-color: white;
            height: 422px;
            display: inline-block;
            border-radius: 15px;
            text-align: center;
            b {
                display: inline-block;
                font-family: "Montserrat", sans-serif;
                font-size: 30px;
                margin-top: 70px;
                color: rgb(58, 85, 106);
                margin-bottom: 30px;
            }
            .form {
                position: relative;
                width: 90%;
                margin: 8px 12.5px;
                .user-eff {
                    @extend %input;
                    .focus-border {
                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            background-image: linear-gradient(270deg, white, rgb(58, 85, 106));
                            left: 0;
                            bottom: -2px;
                            width: 0;
                            height: 3px;
                            transition: 1s;
                        }
                        &::after {
                            bottom: auto;
                            top: -2px;
                            left: auto;
                            right: -1px;
                        }
                        i {
                            &::after,
                            &::before {
                                content: "";
                                position: absolute;
                                background-image: linear-gradient(270deg, white, rgb(58, 85, 106));
                                left: -2px;
                                top: -2px;
                                height: 0;
                                width: 3px;
                                transition: 1s;
                            }
                            &::after {
                                top: auto;
                                bottom: -1px;
                                left: auto;
                                right: -2px;
                            }
                        }
                    }
                    &:hover {
                        border: 3px solid white;
                        background-color: white;
                        .focus-border {
                            &::after,
                            &::before {
                                width: 101%;
                                transition: 0.5s;
                                transition-delay: 0.5s;
                                background-image: linear-gradient(270deg, white, rgb(58, 85, 106));
                            }
                            &::after {
                                transition: 0.5s;
                                transition-delay: 1.5s;
                                background-image: linear-gradient(90deg, white, rgb(58, 85, 106));
                            }
                            i {
                                &::after,
                                &::before {
                                    transition: 0.5s;
                                    height: 110%;
                                    background-image: linear-gradient(180deg, white, rgb(58, 85, 106));
                                }
                                &::after {
                                    transition: 0.5s;
                                    height: 110%;
                                    transition-delay: 1s;
                                    background-image: linear-gradient(360deg, white, rgb(58, 85, 106));
                                }
                            }
                        }
                    }
                }
                .btn {
                    @extend %button;
                    background-color: rgb(58, 85, 106);
                    color: white;
                    transition: 0.4s;
                    &:hover {
                        border-radius: 20px;
                        color: rgb(58, 85, 106);
                        background-color: white;
                        border: 3px solid rgb(58, 85, 106);
                        box-shadow: 2px 2px 5px gray;
                    }
                    &:focus {
                        background-color: rgb(58, 85, 106);
                        transition: 0.4s;
                        color: white;
                        border-radius: unset;
                        box-shadow: 0px 2px 5px lightblue;
                    }
                }
            }
            .footer {
                margin-top: 12px;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 12px;
                    font-family: "Montserrat", sans-serif;
                    margin: 0px 10px;
                }
                a.mess {
                    margin-right: 13px;
                }
                a.forgetpass {
                    margin-left: 13px;
                }
            }
        }
    }
}

ion-footer {
    background-color: white;
    border-top: 1px solid lightgray;
    text-align: center;
    &:hover {
        transition-delay: 0.5s;
        background-color: rgb(58, 85, 106);
        .foot {
            position: relative;
            p {
                color: white;
                position: relative;
                top: 10px;
                left: -40px;
                transition: all 0.5s;
            }
            b {
                position: relative;
                bottom: 9px;
                left: 28px;
                color: white;
                letter-spacing: 0;
                transition: all 0.5s;
            }
        }
    }
    .foot {
        margin: 10px 0;
        p {
            color: gray;
            @extend %footer-text;
            letter-spacing: 1px;
            font-size: 12px;
        }
        b {
            color: blue;
            font-size: 13px;
            @extend %footer-text;
            letter-spacing: 2px;
        }
    }
}